* {
    /* border: 1px solid red; */
    /* margin: 0; */
    /* padding: 0; */
    box-sizing: border-box;
    font-family: 'Itim', cursive;
    
}

.header {
    align-items: center;
    justify-content: center;
    background-image: url('https://cdn.pixabay.com/photo/2021/10/07/20/03/background-6689699_960_720.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: aliceblue;
    height: 200px;
    
}

.header h1 {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    
}

.grid-report {
    /* background-color: rgb(56, 23, 23); */
    /* color: aliceblue; */
}